<% if @budgetitem.errors.any? %>
 
	 console.log('Error');
	 $('#modalId').remove();
	 $('.modal-body').html('<div id="modalId"></div>')
	 $('#modalId').html('<%= j render ('form') %>')

<% else %>
	
  console.log('updated');
  $('#myModal').modal('hide');
  $('.btnAddBudgetItem').attr('class', 'testing')
  $('#financial').html('<%= j render ('projects/budget') %>')
  
    
  $('#flash_message').html("<%= escape_javascript raw(bootstrap_flash) %>");
  	


<% end  %>