<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @applicationtype.name %>
</p>


<%= link_to 'Edit', edit_applicationtype_path(@applicationtype) %> |
<%= link_to 'Back', applicationtypes_path %>
