<% unless params[:layout] %>
<h1>Editing application</h1> <br>
<% end %>

<% if params[:updating_unique_attribute]   %>
 <%= render 'formSingleAttribute' %>
<% else %>
 <%= render 'form' %>
<% end %>

