<% if @subserviceline.errors.any? %>
 
	 console.log('Error');
	 $('#modalId').remove();
	 $('.modal-body').html('<div id="modalId"></div>')
	 $('#modalId').html('<%= j render ('form') %>')
	 $('#flash_message').html("<%= escape_javascript raw(bootstrap_flash) %>");

<% else %>
	
  console.log('Created');
  $('#myModal').modal('hide');
  $('#pras_tree').html('<%= j render ("productservicelines/pras_tree"), :productservicelines=>@productservicelines %>')
   
  $('#flash_message').html("<%= escape_javascript raw(bootstrap_flash) %>");

<% end  %>