<% if @clienttype.errors.any? %>
 
	 console.log('Error');
	 $('#modalId').remove();
	 $('.modal-body').html('<div id="modalId"></div>')
	 $('#modalId').html('<div class=".form_container"></div>')
	 $('.form_container').html('<%= j render ('formCT') %>')


<% else %>
	
  console.log('Client type sucessfully chosen');

  
  $('#frmClient').formToWizard({ submitButton: 'clientSubmit' });  
  $('#flash_message').html("<%= escape_javascript raw(bootstrap_flash) %>");	 
  $('.form_container').html('<%= j render ('clients/wizardForm'), :client=>@client %>')
	   

<% end  %>