<%= form_tag searches_path, :action=>'searches/index', :method=>'get', :html => { :class => 'form-inline' } do |f|  %>
  

  <div class='input-append'>
  
  <%= text_field_tag :search_field, "", placeholder: 'Search anything'%>  

  <%= button_tag(:type=>:submit, :class=>'btn btn-info', :style=>'margin-bottom:5px') do %>
      <i class='icon-search'></i>
  <% end %>
  
  </div>  	



<%= link_to "Click here for advanced search", advancedsearch_searches_path, :class=>'btn btn-small btn-info',
:style=>'margin-bottom:12px;' %>

</div>

<% end %>