
  <fieldset>
   <legend>Address(es) information</legend>
    
 
         <% if @client.new_record? %>
         <div>
           <div class='span3 section'>
              <%= render 'new_location', :f=>f %>
            </div>
         </div>
         <% else %>
           
            <%= render 'edit_location', :f=>f %>
         <% end %>
    

   </fieldset>         


 




