<div id='address-fields' class='row-fluid'>
  <fieldset>
   <legend>Address(es) information</legend>
    <div>
 
         <% if @client.new_record? %>
           <div class='span3 section'>
              <%= render 'new_location' %>
            </div>
         <% else %>
           
            <%= render 'edit_location' %>
         <% end %>
    </div>

   </fieldset>         


 
</div>



