
<% if @province == 3 %>

<fieldset>
	<legend>Choose division/branch</legend>
		 	
	<div class='form-inline'>
            	
				

            	<%= f.input :division_id, collection: Division.where(:client_id=>@project.client_id).map { |d| [d.name, d.id] }, include_blank: true %>


	            <%= link_to "add new division", new_client_division_path(params[:client_id]), :class=> 'btn btn-small btn-success' %>


	        
	         
	 </div>
     				 	
</fieldset>

<% end %>

<fieldset>
<div class='content'>
	 <legend class='proj_legend'>Project Details</legend>

	 	<%= render 'project_fields', :f=>f %>
</div>

</fieldset>