<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @budgetcategory.name %>
</p>


<%= link_to 'Edit', edit_budgetcategory_path(@budgetcategory) %> |
<%= link_to 'Back', budgetcategories_path %>
