


<h3>Clients</h3>
<div id='client_table'>



<table class='table table-bordered'>
 <thead>
 	<tr>
 	 <th>name</th>
 	 <th>email</th>
 	 <th>phone</th>
 	 <th>website</th>
 	 <th></th>
 	</tr>
 </thead>
 <tbody id='client_records'>
 <%= render 'client_records' %>
 </tbody>

</table>
</div>

<div id='client_paginator'>
<%= paginate @clients, :param_name=>'client_page', :remote=>true %>
</div>

<% if @client.count > 5 %>
	<%= render 'pageSize', :id=>'clients' %>
<% end %>




