
<% if @clients || @applications %>
    
    <div class="tab-pane active" id="clients">
    <% if @clients  %>  
        <%= render 'searches/clients' %>
    <% else %>
        <strong>Your search did not yield any clients</strong>
    <% end %>
    </div>

    <div class="tab-pane" id="projects">
    <% if @applications  %>
        <%= render 'searches/projects' %>
    <% else %>
        <strong>Your search did not yield any projects</strong>
    <% end %>
    </div>

<% else %>

<strong>Please enter a keyword in the search field to find a client for your project</strong>

<% end %>