


<h3>Projects</h3>

<table class='table table-bordered table-condensed'>
 <thead>
  <tr>
  	<td>RIMS</td>
  	<td>Client</td>
  	<td>Title</td>
  	<td>Product Service Line</td>
  	<td>Sub Service Line</td>
  	<td>Summary Commitment</td>
  	<td>Commitment Item</td>
  	<td></td>
    <td></td>
  </tr>
 </thead>
 <tbody id='project_records'>
 	<%= render 'project_records' %>

 </tbody>


</table>

<div id='project_paginator'>
<%= paginate @applications, :param_name=>'project_page', :remote=>true %>
</div>

<% if @projects.count > 5 %>
  <%= render 'pageSize', :id=>'projects' %>
<% end %>

