<li class="active">
     <a data-toggle="tab" href="#clients">Clients (<%= @client.count %>)</a>
   </li>
   <li>
     <a data-toggle="tab" href="#projects">Projects (<%= @project_final.count %>)</a>
   </li>