<div id='table_container' >


  <div id='results'>

  
  <div id='result_pills_container'>
   <%= render 'result_pills' %>
  </div>
  

  <div class="tab-content">

    <%= render 'clients_projects' %>

  </div>

  

  </div>
</div>