<div id='table_container' >
  <div class='loader'>
  </div>

  <div id='results'>


  <% if !params[:create] %>
  
   <%= render 'result_pills' %>

  <div class="tab-content">

    <div class="tab-pane active" id="clients">
    <% if !@clients.blank? %>  
    <%= render 'clients' %>
    <% else %>
      <strong>Your search did not yield any clients</strong>
    <% end %>
    </div>

    <div class="tab-pane" id="projects">
    <% if !@applications.blank?  %>
    <%= render 'projects' %>
    <% else %>
    <strong>Your search did not yield any projects</strong>
    <% end %>
    </div>

  </div>

  <% end %>


  </div>
</div>