// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover {
    background: url("http://www.aveva.com/Images/ajax-loader.gif") no-repeat scroll center left #FFF;
    position: absolute;
    height: 40%;
    width: 100%; 
   
}
