<% if !params[:layout].present? %>
<h1>Editing email</h1>
<% end %>

<%= render 'form' %>


<% if !params[:layout].present? %>
	<%= link_to 'Show', @email %> |
	<%= link_to 'Back', emails_path %>
<% end %>